.accueil_photos {
    background-color: white;
    padding: 80px;
}
.accueil_photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.accueil_photos div {

    display: flex;
    flex-direction: row ;
    margin-bottom: 15px;
    gap: 15px;
    justify-content: center;
}

.accueil_introduction{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    text-justify: auto;

}

.accueil_introduction h1 {
    margin-bottom: 15px;
}

.accueil_introduction p {
    margin-bottom: 15px;
}

.accueil_introduction div {
    margin-bottom: 30px;
}

.section_contact h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
}
.form_nom_email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form_column{
    flex: 1 ;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

input,textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

label{
    margin-bottom: 10px;
}

input[type='submit']{
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width: 996px) {

    .accueil_introduction{
        flex-direction: column-reverse;
        text-align: center;
    }

    .accueil_photos div {
        flex-direction: column;
    }

    .form_nom_email{   
           
        flex-direction: column;
    }

}