.portfolio_section_photos{
    background-color: white;
   
}

.portfolio_section_photos h2 {
    color: #242424;
  margin-bottom: 80px;
}

.grid_paysage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

.grid_portrait {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}
 
.grid_paysage img,
.grid_portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lien_conteneur_photo{
    position: relative;
}
 .photo_over{
    position:absolute;
    top: 0  ;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
 }

 .lien_conteneur_photo:hover .photo_over{
    display: flex;
 }

 @media screen and ( max-width: 996px) {

    .grid_paysage{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .grid_portrait{
        grid-template-columns: 1fr;
        gap: 15px;
    }

 }
    
 