* {
    margin: 0;
  }

body{
    font-family: 'Manrope', sans-serif;
    background-color: #1F2039;
    font-size: 1em;
}

a {
    text-decoration: none;
    color:#242424;
    }
a:hover{
        text-decoration: underline;
      
    }
    
a:active{
        text-decoration-color: #1F2039;
    }
    
a:focus{
        
        outline-color: red;
        color: red;
    }
    
a:visited {
        color: purple;
    }
 em {
        color: #A5B4FC;
        font-style: italic;
        font-weight: 700;
    }
    

h1{
    color: #A5B4FC;
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: #F9F8FF; 
    
}

p, li {
    font-size: 1.1em;
    color: #F9F8FF;
    text-align: center;
}




header, footer
{
    background-color: white;
    padding: 20px 50px;  
}



.cta{
    background: linear-gradient(#8E86B5 , #ACAEED);
    color: white;
    font-weight: 700;
    border-radius: 50px ;
    padding: 20px 30px;
    display: inline-block;
   
}

.cta:hover{
    background: linear-gradient(#696484 , #8788BA);
    text-decoration: none;
}

.lien_icone{
    margin-left: 30px;
}
.lien_icone:hover
{
    opacity: 0.5;
}



section{
    padding: 80px;
}


footer, nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

@media screen and (max-width: 996px) {

    header nav{
       
        flex-direction: column;    
        align-items: center;
        justify-content: center;

    }

    header nav img {

        margin-bottom: 20px;
    }

    header,footer {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        padding:  50px 20px 50px 20px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;

    }

    .cta {
        width: 50% ;
        margin-left: auto;
        margin-right: auto;
        
    }

   
}
    

